<div class="container-fluid internal">
  <div class="content background">
    <div class="mask"></div>
    <footer class="bottom"><p class="text-uppercase text-center">&copy; A Day Clock</p></footer>

    <div class="row">
      <div class="col-12">
        <div class="container">

          <div class="row margin-top align-items-top" *ngIf="payment_success === false">
            <div class="col-sm-12 col-md-6 col-lg-6 padding-left">

              <h3 class="text-capitalize">Order payment</h3>

              <form action="" method="POST" (submit)="getToken()">
                <div class="row">
                  <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <div>
                      <span class="payment-message">{{message}}</span>
                    </div>
                    <label for="cardNumber">Card Number</label>
                    <input [(ngModel)]="cardNumber"
                           class="form-control"
                           id="cardNumber"
                           name="cardNumber" type="text" size="20" data-stripe="number"
                    >
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-6">
                        <label for="expiryMonth">Month</label>
                        <input [(ngModel)]="expiryMonth"
                               class="form-control"
                               id="expiryMonth"
                               name="expiryMonth" type="text" size="2" data-stripe="exp_month"
                        >
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6">
                        <label for="expiryYear">Year</label>
                        <input [(ngModel)]="expiryYear"
                               class="form-control"
                               id="expiryYear"
                               name="expiryYear" type="text" size="2" data-stripe="exp_year"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3 form-group">
                    <label for="cvc">CVC</label>
                    <input [(ngModel)]="cvc"
                           class="form-control"
                           id="cvc"
                           name="cvc" type="text" size="4" data-stripe="cvc"
                    >
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-lg btn-primary text-uppercase">
                      Make payment
                    </button>
                    <button type="reset" class="btn btn-lg btn-outline-primary text-uppercase">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 text-center padding-right" *ngIf="order;">
              <h4 class="text-capitalize">Order number {{ order?.id }}</h4>
              <h5 class="text-capitalize">Login email: {{ order?.User.email }}</h5>
              <div class="icon-large">
                <i class="fa {{ order?.Catalog.icon }}" aria-hidden="true"></i>
              </div>
              <h2 class="text-capitalize">{{ order?.Catalog.title  }}</h2>
              <h4>{{ order?.Catalog.short_description }}</h4>
              <h2>${{ order?.Catalog.price }}</h2>
            </div>

          </div>

          <div class="row margin-top align-items-top" *ngIf="payment_success;">
            <div class="col text-center">
              <h2>You payment succesfull</h2>
              <h4>Your membership updated</h4>
              <h4><a href="/">Back to the main page</a></h4>
            </div>
          </div>

        </div>


        </div>
      </div>
    </div>

</div>
