<div class="container-fluid internal">
    <div class="content background">
        <footer class="bottom"><p class="text-uppercase text-center">&copy; A Day Clock</p></footer>
        <div class="mask"></div>
        <div class="row">
            <div class="col-12">
                <div class="container">

                    <div class="row align-items-top">
                        <div class="col-sm-12 col-md-6 col-lg-6 padding-left margin-top">
                            <h4 class="font-weight-bold">Registered customers</h4>
                            <h5 class="blue-color">If yor have an accouns pleease log in below</h5>
                            <form (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-sm-12 col-md-9">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control" id="email" required
                                                   [(ngModel)]="model.email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" required
                                                   [(ngModel)]="model.password" name="password">
                                        </div>
                                        <p>
                                            <a [routerLink]="['/restore']" role="button">Forgot your password?</a>
                                        </p>
                                        <button type="submit" class="btn btn-lg btn-primary text-uppercase" role="button">Sign In</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 text-center padding-left padding-right margin-top">
                            <h4>Not registered yet?</h4>
                            <h5 class="blue-color">When purchaising a product you will be registered in our system</h5>
                            <p>When plaicing your order you'll be asked to enter you
                                e-mail address to choose A Day Clock password.
                                After comletion we will send you a registration overview by e-mail.</p>
                            <div class="row align-items-end">
                                <div class="col text-center">
                                    <p>Download our free Android App</p>
                                    <a href="" class="btn-google" role="button">
                                        <img src="assets/img/android-btn.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
