<div class="container-fluid fixed-top main">
    <div class="mask"></div>
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation"
                    (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="assets/img/logo.png" alt="">
            </a>
            <div class="collapse navbar-collapse text-center" id="navbarCollapse"  [ngbCollapse]="!isExpanded">
                <ul *ngIf="mainMenu; else internalBlock" class="navbar-nav mx-auto text-md-center justify-content-md-center">
                    <li class="nav-item text-center text-capitalize {{ item.selected ? 'active' : '' }}" *ngFor="let item of menu">
                        <a href="#{{ item.link }}" class="nav-link" role="button" (click)="select(item)"
                           scrollTo="{{item.link}}"
                           [easing]="easeInQuart"
                           offset="64"
                        >{{ item.title }}</a>
                    </li>
                    <li class="nav-item text-center text-capitalize"
                        *ngIf="appSettings.loggedIn">
                        <a href="/calendar" class="nav-link" role="button">Manage calendars</a>
                    </li>
                </ul>
                <ng-template #internalBlock>
                    <ul class="navbar-nav mx-auto text-md-center justify-content-md-center">
                        <li class="nav-item text-center text-capitalize {{ isActive(item.link) ? 'active' : '' }}" *ngFor="let item of menu">
                            <a href="{{ item.link }}" class="nav-link" role="button">{{ item.title }}</a>
                        </li>
                    </ul>
                </ng-template>
                <a *ngIf="appSettings.loggedIn; else loginBlock"
                   class="btn btn-outline-primary text-uppercase" role="button" (click)="logout();">
                    Sign Out
                </a>
                <ng-template #loginBlock>
                    <a routerLink="/signin" role="button" class="btn btn-outline-primary text-uppercase">Sign in</a>
                </ng-template>
            </div>
        </nav>
    </div>
</div>
