<div class="container-fluid internal">
    <div class="content background">
        <div class="mask"></div>
        <footer class="bottom"><p class="text-uppercase text-center">&copy; A Day Clock</p></footer>

        <div class="row">
            <div class="col-12">
                <div class="container">

                    <div class="row" *ngIf="mail_send === false;">
                        <div class="col-sm-12 col-md-6 col-lg-6  padding-left margin-top">
                            <h4 class="font-weight-bold">Forgot your password?</h4>
                            <p>
                                If yor need a new password than please enter your email
                                address.
                                You will receive an email with further instructions.
                                For safety reasons we can not send you the current password.
                            </p>
                            <form (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-sm-12 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control" id="email"
                                                   required
                                                   [(ngModel)]="model.email" name="email"
                                                   placeholder="Enter your email address"
                                            >
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-primary text-uppercase">Restore password</button>
                                            <button type="reset" class="btn btn-lg btn-outline-primary text-uppercase">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row align-items-top" *ngIf="mail_send === true;">
                        <div class="col text-center">
                            <h2>Password reset email send</h2>
                            <h4>Check your email for password reset link</h4>
                            <h4><a href="/">Back to the main page</a></h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
