<div class="container-fluid internal">
  <div class="content background">
    <div class="mask"></div>
    <footer class="bottom"><p class="text-uppercase text-center">&copy; A Day Clock</p></footer>

    <div class="row">
      <div class="col-12">
        <div class="container">

          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6  padding-left margin-top">
              <h4 class="font-weight-bold">Password restore</h4>
              <form #pform="ngForm" (ngSubmit)="onSubmit(pform.value, pform.valid)">
                <div class="row">

                  <div class="col-sm-12 col-md-7 col-lg-7">
                    <div class="form-group">
                      <label for="password_first">New password</label>
                      <input type="password" class="form-control" id="password_first"
                             required
                             [(ngModel)]="model.password_first" name="password_first"
                             validateEqual="password_second" reverse="true"
                             placeholder="Enter your password"
                             #password_first="ngModel">
                    </div>
                    <div class="form-group">
                      <label for="password_second">Retype password</label>
                      <input type="password" class="form-control" id="password_second"
                             required
                             [(ngModel)]="model.password_second"
                             validateEqual="password_first" reverse="false"
                             placeholder="Repeat your password"
                             #password_second="ngModel"
                             name="password_second">
                      <small [hidden]="password_second.valid || (password_second.pristine && !pform.submitted)" class="text-danger">
                        Password mismatch
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-lg btn-primary">Restore
                      password
                    </button>
                    <button type="reset" class="btn btn-lg btn-outline-primary">Cancel
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
