<div class="container-fluid internal">
    <div class="content background">
        <div class="mask"></div>
        <footer class="bottom"><p class="text-uppercase text-center">&copy; A Day Clock</p></footer>
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row align-items-top ">
                        <div class="col text-center">
                            <h2>Yor email is confirmed</h2>
                            <h4>Now you can signin using Your email and password</h4>
                            <h4><a href="/signin">Signin</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
