<div class="container internal">
  <div class="content">
    <footer class="bottom"><p class="text-uppercase text-center">&copy; A Day
      Clock</p></footer>
    <div class="row margin-top align-items-top">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h3>Account information</h3>
        <form #pform="ngForm" (ngSubmit)="onSubmit(pform.value, pform.valid)">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" required
                     [(ngModel)]="model.firstName" name="firstName"
                     placeholder="Enter your first name"
                     #firstName="ngModel"
              >
              <small [hidden]="firstName.valid || (firstName.pristine && !pform.submitted)" class="text-danger">
                First name requred
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="surName">Surname</label>
              <input type="text" class="form-control" id="surName" required
                     [(ngModel)]="model.surName" name="surName"
                     placeholder="Enter your surname"
                     #surName="ngModel"
              >
              <small [hidden]="surName.valid || (surName.pristine && !pform.submitted)" class="text-danger">
                Surname requred
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" required
                     [(ngModel)]="model.email" name="email"
                     pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                     placeholder="Enter your email address"
                     #email_first="ngModel"
              >
              <small [hidden]="email_first.valid || (email_first.pristine && !pform.submitted)" class="text-danger">
                Not valid email
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6"></div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" required
                     [(ngModel)]="model.address" name="address"
                     placeholder="Enter your full address"
                     #address="ngModel"
              >
              <small [hidden]="address.valid || (address.pristine && !pform.submitted)" class="text-danger">
                Address requred
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="postalCode">Postal code</label>
              <input type="text" class="form-control" id="postalCode" required
                     [(ngModel)]="model.postalCode" name="postalCode"
                     placeholder="Enter your postal code"
                     #postalCode="ngModel" pattern="\d+"
              >
              <small [hidden]="postalCode.valid || (postalCode.pristine && !pform.submitted)" class="text-danger">
                Not valid postal code
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" required
                     [(ngModel)]="model.city" name="city"
                     placeholder="Enter your city"
                     #city="ngModel"
              >
              <small [hidden]="city.valid || (city.pristine && !pform.submitted)" class="text-danger">
                City requred
              </small>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6"></div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" required
                     [(ngModel)]="model.country" name="country"
                     placeholder="Enter your country"
                     #country="ngModel"
              >
              <small [hidden]="country.valid || (country.pristine && !pform.submitted)" class="text-danger">
                Country requred
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" required
                     [(ngModel)]="model.phone" name="phone"
                     placeholder="Enter your phone"
                     #phone="ngModel" [textMask]="{mask: phMask}"
                     pattern="^\+\d\(\d{3}\)\d{3}\-\d{2}\-\d{2}$"
              >
              <small [hidden]="phone.valid || (phone.pristine && !pform.submitted)" class="text-danger">
                Not valid phone
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="password">Current password</label>
              <input type="password" class="form-control" id="password"
                     [(ngModel)]="model.password" name="password">
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6"></div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="password">New password</label>
              <input type="password" class="form-control" id="password_first"
                     [(ngModel)]="model.password_first" name="password_first"
                     validateEqual="password_second" reverse="true"
                     placeholder="Enter your password"
                     #password_first="ngModel"
              >
              <small [hidden]="password_first.valid || (password_first.pristine && !pform.submitted)" class="text-danger">
                You need to enter new password
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="password">Repeat new password</label>
              <input type="password" class="form-control" id="password_second"
                     [(ngModel)]="model.password_second" name="password_second"
                     validateEqual="password_first" reverse="false"
                     placeholder="Repeat your password"
                     #password_second="ngModel"
              >
              <small [hidden]="password_second.valid || (password_second.pristine && !pform.submitted)" class="text-danger">
                Password mismatch
              </small>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
              <button type="submit" class="btn btn-lg btn-primary text-uppercase">Save changes
              </button>
              <button type="reset" class="btn btn-lg btn-outline-primary text-uppercase">Cancel
              </button>
            </div>
          </div>
        </form>
      </div>



      <div class="col-md-6 col-sm-12 col-lg-6 input-field-background activity-edit">
        <div class="row align-items-center">
          <div class="col-12 align-middle">
            <h3 class="d-inline-block text-capitalize">Your products</h3>
          </div>
        </div>
        <form #exPr="ngForm" (ngSubmit)="changeProductsNames(exPr.value, exPr.valid)">
          <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-12 align-middle" *ngFor="let item of products;">

              <div *ngIf="item.title; else editBlock" class="text-uppercase">
                {{ item.title }}
              </div>
              <ng-template #editBlock>
                <div class="text-uppercase  col-sm-12 col-md-12 col-lg-12">
                  {{ item.serial }}
                </div>

                <div class="form-group">
                  <input class="form-control" type="text" [ngModel]="item.title"
                         name="{{ item.id }}"
                         placeholder="Change the code to recognizable name">
                </div>
              </ng-template>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary text-uppercase">Save changes
                </button>
              </div>
            </div>
          </div>
        </form>

        <form #newPr="ngForm" (ngSubmit)="addSerial(newPr.value, newPr.valid)">
          <div class="row">

            <div class=" col-sm-12 col-md-12 col-lg-12 align-middle">
              <div class="form-group">
                <label for="new_product" class="text-capitalize">Add new serial number</label>
                <input id="new_product" class="form-control" type="text"
                       required="true"
                       placeholder="Change the code to recognizable name"
                       [(ngModel)]="serial.serial"
                       name="serial"
                       #serial="ngModel"
                >
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary text-uppercase">Add product
                </button>
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
