@import '../node_modules/angular-calendar/dist/css/angular-calendar.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

html, body {
    position: relative;
    min-height: 100%;
    height: 100%;
    color: #353842;
    font-family: Lato, sans-serif;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/fonts/LatoRegular.eot");
    src: url("assets/fonts/LatoRegular.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/LatoRegular.woff") format("woff"),
    url("assets/fonts/LatoRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-weight: normal;
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

.container {
    /*padding: 0;*/
}

.margin-top {
    margin-top: 5rem;
}

.margin-top-small {
    margin-top: 3rem;
}

.margin-right {
    margin-right: 50px;
}

.padding-right {
    padding-right: 50px;
}

.margin-left {
    margin-left: 65px;
}

.padding-left {
    padding-left: 65px;
}

/*@media (min-width: 768px) {*/
/*.margin-right {*/
/*margin-right: 50px;*/
/*}*/

/*.margin-left {*/
/*margin-left: 50px;*/
/*}*/
/*}*/
.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: rgba(0,0,0,.7);
    font-size: .9rem;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0277bd;
}

@media (max-width: 768px) {
    .margin-right {
        margin-right: 0px;
    }

    .padding-right {
        padding-right: 15px;
    }

    .margin-left {
        margin-left: 0px;
    }

    .padding-left {
        padding-left: 15px;
    }
}

.container.main {
    /*box-shadow: -26px 110px 73px rgba(255, 255, 255, 0.6) inset;*/
    /*background-image: url("assets/img/header-bg.jpg");*/
}

.container-fluid.main .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.66);
}

.navbar {
    margin: 6px 50px;
}

.btn.btn-primary,
.btn.btn-outline-primary {
    border-radius: 3rem;
    border-color: #0277bd;
}

.btn.btn-outline-primary {
    color: #0277bd;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: white;
}

.form-control {
    border-color: #b6b7b9;
}

.nav-item.active {
    position: relative;
}

.nav-item.active:after {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: .4rem;
    height: .4rem;
    border-radius: .2rem;
    vertical-align: middle;
    content: "";
    background-color: #2aabd2;
}

.navbar-light .navbar-nav
.nav-item.active > .nav-link {
    color: #2aabd2;
}

.container-fluid.internal,
.container.internal {
    /*padding-top: 68px;*/
    height: 100%;
}

.content .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.66);
}

.internal .content {
    padding-top: 80px;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 30px;
    min-height: 100%;
    /*min-height: 630px;*/
    /*height: 24rem;*/
}

.internal .content.background {
    background-image: url('assets/img/header-bg.jpg');
    background-position: bottom left;
    background-size: cover;
}

.content .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.internal .content > .row {
    min-height: 100%;
    padding-bottom: 50px;
    /*min-height: 630px;*/
}

.align-items-top > .col {
    padding-top: 5rem;
}

.internal .icon-large {
    font-size: 7rem;
    line-height: normal;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.activity-edit .row {
    margin-bottom: 20px;
}
.container-fluid .section,
.container .section {
    padding: 80px 65px 0;
    /*padding: 80px 15px 0;*/
    margin: 0 -15px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    box-shadow: -26px 110px 73px rgba(255, 255, 255, 0.6) inset;
}

.section.one {
    background-image:   url("assets/img/header-bg.jpg");
    background-position: bottom left;
    background-size: cover;
    min-height: 100vh;
}

.one h1 {
    margin-top: 4rem;
}

.one h2 {
    margin-bottom: 50px;
}

.one .text {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 65px;
}

.one .btn-block {
    margin-bottom: 31px;
}

.one .btn {
    margin-bottom: 85px;
}

.blue-color {
    color: #0277bd;
    display: block;
    font-weight: 400;
}

.one .img-block {
    /*margin-top: 2rem;*/
    margin: 2rem 0;
}

.img-block img {
    max-width: 100%;
}

.section.two {
    min-height: 740px;
}

.two .carousel {
    width: 100%;
}

.two .subtitle {
    display: block;
    font-size: 26px;
    margin-bottom: 45px;
    text-align: center;
    width: 100%;
}

.two .carousel-item {
    margin-bottom: 28px;
}

.two .carousel-item .block-text {
    color: #7b7f85;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    vertical-align: middle;
    width: 273px;
}

.two .carousel-item .block-text .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    margin: auto;
    height: 80px;
}

.two .carousel-item .block-text .item span {
    display: block;
    width: 100%;
}

.two .carousel-item .block-text:first-child .item:nth-child(2n) {
    padding-right: 30px;
}

.two .carousel-item .block-text:last-child .item:nth-child(2n) {
    padding-left: 30px;
}

.two .carousel-item .block-text:first-child {
    text-align: right;
}

.two .carousel-item .block-text .item {
    width: 185px;
}

.carousel-item .img-block {
    border: 18px solid #e5e9eb;
    border-radius: 10px;
    display: inline-block;
    font-size: 28px;
    max-width: 558px;
    margin: 0 auto;
    vertical-align: middle;
}

.carousel-indicators li {
    background: #dcdcdc;
    border-radius: 50%;
    flex: none;
    height: 15px;
    width: 15px;
}

.carousel-indicators li.active {
    background: #6a6969;
}

.carousel-indicators {
    bottom: auto;
    position: relative;
}

.section.three .description {
    font-size: 1.3rem;
}

.description ul {
    margin: 0 0 15px;
    padding-left: 20px;
}

.section.three h3 {
    margin-bottom: 9rem;
}

.section.three {
    min-height: 740px;
    background-color: white;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.section.three:before {
    content: "";
    box-shadow: 344px 0 200px 300px rgba(255, 255, 255, 0.7) inset;
    background-image: url("assets/img/solution-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    position: absolute;
    top: -230px;
    left: 0;
    width: 100%;
    height: 135%;
}

.section.three .skew-one {
}

@media (min-width: 992px) {
    .section.three {
        z-index: 10;
        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -o-transform: skewY(-3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }

    .section.three:before {
        position: absolute;
        top: -80px;
        background-position: top left;
        background-size: cover;

        transform: skewY(3deg);
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;

        width: 100%;
        height: 135%;
    }

    .section.three .skew-one {
        transform: skewY(3deg);
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);
    }

}

@media (min-width: 2000px) {
    .section.three {
        z-index: 10;
        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -o-transform: skewY(-3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }

    .section.three:before {
        position: absolute;
        top: -205px;
        background-position: top left;
        background-size: cover;

        transform: skewY(3deg);
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;

        width: 100%;
        height: 135%;
    }

    .section.three .skew-one {
        transform: skewY(3deg);
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);
    }

}

.section.four {
    min-height: 740px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    /*z-index: -1;*/
    /*margin-top: -160px;*/
}
.section.four .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(112, 112, 112, 0.76);

}

.section.four:before {
    content: "";
    background-image: url("assets/img/choose-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.section.five h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
@media (min-width: 992px) {
    .section.four {
        min-height: 860px;
        height: 100vh;
        position: relative;
        overflow: hidden;
        margin-top: -160px;

        transform: skewY(3deg);
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }

    .section.four:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 120%;

        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -o-transform: skewY(-3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }

    .section.four .skew-two {
        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -o-transform: skewY(-3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }
}


.section.four .row:first-child {
    margin-top: 8rem;
}

@media (min-width: 2000px) {
    .section.four .row:first-child {
        margin-top: 22rem;
    }

    .section.five h3 {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
    .section.four {
        min-height: 860px;
        height: 100vh;
        position: relative;
        overflow: hidden;
        margin-top: -430px;

        transform: skewY(3deg);
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }

    .section.four:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 120%;

        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -o-transform: skewY(-3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }

    .section.four .skew-two {
        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -o-transform: skewY(-3deg);

        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -o-transform-origin: top left;
    }
}
@media (min-width: 4000px) {
    .section.three:before {
        top: -280px;
    }
    .section.four {
        margin-top: -550px;
    }
    .section.five h3 {
        margin-top: 10rem;
        margin-bottom: 3rem;
    }
    .section.four .row:first-child {
        margin-top: 30rem;
    }
}
.section.four {
    color: white;
}

.section.four h3 {
    font-weight: normal;
}

.section.four h4 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.section.four .blue-color {
    color: #5cbffb;
}

.section.four .btn.btn-outline-primary {
    color: white;
    border-color: white;
}

.icon-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.icon-block .item {
    /*width: 33.3%;*/
    text-align: center;
    margin: 0 0 100px;
    color: white;
}

.icon-block .btn.btn-outline-primary:hover {
    -webkit-box-shadow: 0px 0px 35px 10px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 35px 10px rgba(255, 255, 255, 0.6);
    background: none;
}

.icon-block .item:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.icon-block .item .title {
    font-size: 36px;
    margin-bottom: 15px;
}

.icon-block .text-block {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    max-width: 255px;
    width: 100%;
    line-height: 20px;
    margin-bottom: 25px;
}

.icon-block .icon {
    font-size: 98px;
}

.section.five {
    min-height: 700px;
}

.section.five textarea {
    height: 128px;
    resize: vertical;
}

.section.five .block-info {
    display: flex;
    flex-wrap: wrap;
}

.section.five .block-info .item {
    margin-bottom: 25px;
    width: 50%;
}

.section.five .block-info .item .title {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section.five .block-info .item > div {
    max-width: 175px;
    width: 100%;
    text-align: left;
}

.section.five .block-info .item .text {
    max-width: 150px;
}

footer {
    font-weight: lighter;
    font-size: 0.9rem;
}

/* Calendar */
.cal-month-view .cal-day-cell {
    position: relative;
    width: 14%;
    min-height: 100%;
}

.cal-month-view .cal-cell-top {
    min-height: 100%;
}

.cal-month-view .cal-cell-top:before {
    content: "";
    display: block;
    width: 100%;
    box-sizing: content-box;
    padding-top: 100%;
    border-radius: 50%;
    border: 2px solid #0277bd;
    /*background-color: #0277bd;*/
}

.cal-month-view .cal-past .cal-cell-top:before {
    background-color: #80bbde;
    border-color: #80bbde;
}

.cal-month-view .cal-out-month .cal-cell-top:before {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.cal-month-view .cal-today .cal-cell-top:before {
    background-color: #01579b !important;
    border-color: #01579b !important;
    /*background-color: #e92124;*/
    /*border-color: #e92124;*/
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 1;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number,
.cal-month-view .cal-day-number {
    opacity: 1;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    line-height: 2rem;
    top: calc(50% - 1rem);
    left: 0;
    /*bottom:   0;*/
    right: 0;
    text-align: center;
    vertical-align: middle;
    margin: auto 0;
    padding: 0;
}

.cal-month-view .cal-future.cal-weekend .cal-day-number,
.cal-month-view .cal-future.cal-in-month .cal-day-number {
    color: #0277bd;
}

.cal-month-view .cal-cell-top.has-events:before {
    background-color: #0277bd;
}

.cal-month-view .cal-cell-top.has-events .cal-day-number {
    color: white;
}

.cal-day-selected .cal-cell-top:before,
.cal-day-selected:hover .cal-cell-top:before {
    background-color: #e92124 !important;
    border-color: #e92124 !important;
    /*background-color: #01579b !important;*/
    /*border-color: #01579b !important;*/
}

.cal-day-selected .cal-day-number,
.cal-day-selected:hover .cal-day-number {
    color: white !important;
}
.cal-month-view .cal-header {
    font-weight: lighter;
}
.cal-header-main {
    margin-bottom: 1rem;
    margin-top: 0.9rem;
}
.cal-footer-main{
    margin-top: 0.9rem;
    font-size: 1.5rem;
}
.cal-month-view .cal-future.cal-weekend.cal-out-month .cal-day-number  {
    color: white;
}
.input-field-background {
    background-color: #f0f0f0;
    border-radius: 1rem;
}

.activity-edit .btn-lg {
    margin: 0.5rem 0;
}

.input-group .btn-primary {
    border: solid 2px #0277bd;
    border-radius: .25rem;

}

.input-group input {
    border: solid 2px #0277bd;
    border-left: none;
    border-right: none;
}

.activity-edit > .row:first-child {
    border-bottom: 1px solid #f0f0f0;
}

.activities > div:first-child {
    border-bottom: 1px solid #f0f0f0;
}

.activities > div h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.activity-edit textarea {
    width: 100%;
    height: 7rem;
    resize: vertical;
}

.btn-group.activity {
    display: block;
}

#currentCalendar {
    font-size: 1rem;
}

.label-placeholder {
    display: inline-block;
    position: relative;
    width: 19%;
    padding-bottom: 19%;
    margin: 2%;
    margin-bottom: 2rem;
}

.label-placeholder label {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*height: calc(100% - 4px);*/
    padding-top: 100%;
    background-color: white;
    border: 2px solid #0277bd;
    box-sizing: border-box;
    border-radius: 50%;
    color: #0277bd;
}

.label-placeholder label i {
    color: #0277bd;
}

.label-placeholder input:checked ~ label {
    background-color: #0277bd;
}

.label-placeholder input:checked ~ label i {
    color: white;
}

.label-placeholder .icon {
    position: absolute;
    top: 0;
    font-size: 2rem;
    width: 100%;
    color: #0277bd;
}

.label-placeholder input {
    display: none;
}

.label-placeholder > .type {
    position: absolute;
    left: 0;
    bottom: -1.8rem;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.activities ul {
    list-style: none;
}

/*.btn-group.activity label.btn {*/
/*width: 23%;*/
/*margin: 1%;*/
/*background: none;*/
/*position: relative;*/
/*border: none;*/
/*float: left;*/
/*!*height: 100%;*!*/
/*padding-top: 23%;*/
/*}*/
/*.btn-group.activity label.btn:before {*/
/*content: "";*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*display:     block;*/
/*width: 100%;*/
/*padding-top: 100%;*/
/*border-radius: 50%;*/
/*background-color: #0277bd;*/
/*}*/
.cal-month-view .cal-day-cell,
.cal-month-view .cal-days .cal-cell-row {
    border: none;
}

.cal-month-view .cal-day-cell {
    padding: .2rem;
}

@keyframes hover-color {
    from {
        border-color: #c0c0c0;
    }
    to {
        border-color: #3e97eb;
    }
}

.magic-radio,
.magic-checkbox {
    position: absolute;
    display: none;
}

.magic-radio[disabled],
.magic-checkbox[disabled] {
    cursor: not-allowed;
}

.magic-radio + label,
.magic-checkbox + label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: middle;
}

.magic-radio:checked + label,
.magic-checkbox:checked + label {
    color: #3e97eb;
}

.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
}

.magic-radio + label:before,
.magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 2px solid #c0c0c0;
}

.magic-radio + label:after,
.magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
}

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4;
}

.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
    cursor: not-allowed;
}

.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none;
}

.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4;
}

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
    animation-name: none;
}

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
    display: block;
}

.magic-radio + label:before {
    border-radius: 50%;
}

.magic-radio + label:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3e97eb;
}

.magic-radio:checked + label:before {
    border: 1px solid #3e97eb;
}

.magic-radio:checked[disabled] + label:before {
    border: 1px solid #c9e2f9;
}

.magic-radio:checked[disabled] + label:after {
    background: #c9e2f9;
}

.magic-checkbox + label:before {
    border-radius: 3px;
}

.magic-checkbox + label:after {
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
}

.magic-checkbox:checked + label:before {
    border: #3e97eb;
    background: #3e97eb;
}

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9;
}

.activities-list {
}

.activities-list__title {
    text-align: center;
}

.list {
    overflow-y: auto;
    height: auto;
    max-height: 40rem;
}

.right-list {
    overflow-y: auto;
    height: auto;
    max-height: 30rem;
}

.activities-list__inner {
    width: 100%;
}

.activities-list__inner .fa-trash {
    font-size: 1.5rem;
    color: #e92124;
}

.activities-list__item {
    padding: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 16px;
}

.activities-list__item._active {
    font-weight: bold;
}

.activities-list__item._active .activities-list__item-icon {
    font-weight: normal;
}

/*Last list*/
.activities-list__item-time {
    width: 50px;
    text-align: right;
    padding-top: 1.9rem;
    align-self: flex-start;
}

.activities-list__item-icon {
    margin: 0 2%;
    width: 14%;
    text-align: center;
    color: white;
    border-radius: 50%;
    align-self: flex-start;
}

.icon-layout {
    position: relative;
    padding-top: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    background: #0277bd;
}

.icon-layout i {
    position: absolute;
    left: 0;
    top: calc(50% - 1rem);
    width: 100%;
    font-size: 2rem;
    line-height: 2rem;
    color: white;
}

.activities-list__item-desc { /*padding: 7% 0 0;*/
    flex: 1 1 50px;
}

@font-face {
    font-family: "Flaticon";
    src: url("assets/fonts/Flaticon.eot");
    src: url("assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Flaticon.woff") format("woff"),
    url("assets/fonts/Flaticon.ttf") format("truetype"),
    url("assets/fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("assets/fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="_icon-"]:before, [class*=" _icon-"]:before,
[class^="_icon-"]:after, [class*=" _icon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
    /*margin-left: 20px;*/
}

._icon-sleep:before {
    content: "\f100";
}

._icon-bathe:before {
    content: "\f101";
}

._icon-food:before {
    content: "\f102";
}

._icon-visitor:before {
    content: "\f103";
}

._icon-doctor:before {
    content: "\f104";
}

._icon-medicine:before {
    content: "\f105";
}

._icon-medicine-alt:before {
    content: "\f106";
}

._icon-other:before {
    content: "\f107";
}

.slider .carousel {
    width: 100%;
}

.slider .subtitle {
    display: block;
    font-size: 26px;
    margin-bottom: 45px;
    text-align: center;
    width: 100%;
}

.slider .carousel-item {
    margin-bottom: 28px;
    width: auto;
}

.slider .carousel-item .block-text {
    color: #7b7f85;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    vertical-align: middle; /*width: 273px;*/
}

.slider .carousel-item .block-text._mobile {
    display: none;
}

.slider .carousel-item .block-text .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    margin: auto;
    height: 80px;
}

.slider .carousel-item .block-text .item span {
    display: block;
    width: 100%;
}

.slider .carousel-item .block-text:first-child .item:nth-child(2n) {
    padding-right: 30px;
}

.slider .carousel-item .block-text:last-child .item:nth-child(2n) {
    padding-left: 30px;
}

.slider .carousel-item .block-text:first-child {
    text-align: right;
}

.slider .carousel-item .block-text .item {
    width: 185px;
}

.carousel-item .img-block {
    padding: 0;
    border: 18px solid #e5e9eb;
    border-radius: 10px;
    display: inline-block;
    font-size: 28px; /*max-width: 558px;*/
    margin: 0 auto;
    vertical-align: middle;
}

.carousel-indicators li {
    background: #dcdcdc;
    border-radius: 50%;
    flex: none;
    height: 15px;
    width: 15px;
}

.carousel-indicators li.active {
    background: #6a6969;
}

.carousel-indicators {
    bottom: auto;
    position: relative;
}

@media (max-width: 768px) {
    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        align-items: flex-start;
    }

    .carousel-item .img-block {
        width: 58.333333%;
    }

    .slider .carousel-item .block-text {
        display: none;
    }

    .slider .carousel-item .block-text._mobile {
        display: flex;
        padding-right: 0;
        width: 41.666667%;
    }

    .slider .carousel-item .block-text:first-child .item:nth-child(2n) {
        padding: 0px;
    }

    .slider .carousel-item .block-text:last-child .item:nth-child(2n) {
        padding: 0px;
    }

    .slider .carousel-item .block-text:first-child {
        text-align: left;
    }

    .slider .carousel-item .block-text .item {
        align-items: flex-start;
        font-size: 12px;
        line-height: 18px;
        padding: 0 0 10px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .container-fluid .section,
    .container .section {
        padding: 80px 15px 0;
    }

    .section.one,
    .section.two,
    .section.three,
    .section.four {
        min-height: auto;
    }

    .navbar {
        margin: 6px 0;
    }
}

/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*width: 100%;*/
        /*max-width: 100%;*/
    /*}*/

/*}*/

/*@media (min-width: 992px) {*/
    /*.container {*/
        /*width: 100%;*/
        /*max-width: 100%;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.container {*/
        /*width: 100%;*/
        /*max-width: 100%;*/
    /*}*/
/*}*/

/*@media (min-width: 576px) {*/
    /*.container {*/
        /*width: 100%;*/
        /*max-width: 100%;*/
    /*}*/
/*}*/

.container.internal .content {
    padding-right: 50px;
    padding-left: 50px;
}

.cal-month-view .cal-day-cell:not(:last-child) {
    /* border-right: 1px solid #e1e1e1; */
}
.cal-month-view .cal-days {
    /* border: 1px solid #e1e1e1; */
    border: none;
}

.cal-month-view .cal-day-cell:not(:last-child) {
    /* border-right: 1px solid #e1e1e1; */
    border: none;
}