<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top {{ day.events.length > 0 ? 'has-events' : ''}}">
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
</ng-template>


<div class="container">
  <div class="section" style="background: none;">
    <div class="row margin-top">
        <div class="col-sm-12 col-md-4 ">
          <div class="form-inline">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="currentCalendar">
              <option
                      *ngFor="let item of calendars"
                      [ngValue]="item"
                      [attr.selected]="first ? true : null">{{ item.Product.serial}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-8">
          <h4 class="text-center">
            Edit calendar:&nbsp;<span class="font-weight-bold">{{ currentCalendar.title }}</span></h4>

        </div>
    </div>
    <div class="row margin-top-small">
        <div class="col-md-6 col-sm">
        <div class="row">
          <div class="col text-center cal-header-main">
            <h4>{{ viewDate | calendarDate:('dayViewTitle'):locale }}</h4>
          </div>
        </div>
        <mwl-calendar-month-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [cellTemplate]="customCellTemplate"
                (dayClicked)="dayClicked($event)"
        ></mwl-calendar-month-view>

        <div class="row cal-footer-main">
          <div class="col-3 text-right"
                 (viewDateChange)="monthChanged($event) "
                 mwlCalendarPreviousView
                 [view]="view"
                 [(viewDate)]="viewDate">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="col-6 text-center">
            <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h4>
          </div>
          <div class="col-3 text-left"
               (viewDateChange)="monthChanged($event) "
               mwlCalendarNextView
               [view]="view"
               [(viewDate)]="viewDate">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>

          </div>
        </div>

      </div>
      <div class="col-md-6 col-sm-12 input-field-background activity-edit"
        *ngIf="editMode === false; else editBlock">
       <div class="row align-items-center">
            <div class="col-6 align-middle">
              <h4 class="d-inline-block">Activities</h4>
            </div>
            <div class="col-6">
              <div class="form-inline pull-right">
                <button class="btn btn-lg btn-primary text-uppercase" (click)="enterEditMode()">+Add new</button>
              </div>
            </div>
             <small [hidden]="true" class="text-danger">
               No Date selected
             </small>
       </div>
       <div class="row">
          <div class="col right-list">
            <div class="activities-list">
              <div class="activities-list__inner">
                <div class="activities-list__item {{item.activity_type}}" *ngFor="let item of (calendarActivities | dateActions:currentDate);">
                  <div class="activities-list__item-time">{{ getTime(item.activity_time)}}</div>
                  <div class="activities-list__item-icon">
                    <div class="icon-layout">
                      <i class="_icon-{{item.activity_type}}"></i>
                    </div>
                  </div>
                  <div class="activities-list__item-desc">{{ item.description }}</div>
                  <div (click)="onDelete(item);"><i class="fa fa-trash"></i></div>
                </div>

              </div>
            </div>

          </div>
       </div>
     </div>
    </div>
    <div class="row justify-content-center margin-top">
      <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="row input-field-background activity-edit activities">
          <div class="col-md-12 col-sm-12 col-lg-12 text-center">
            <h5 class="activities-list__title" ([ngModel])="monthListTitle">
              {{ monthListTitle }}
            </h5>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12 list">
            <div class="activities-list">
              <div class="activities-list__inner">
                <div *ngIf="calendarActivities.length === 0;" class="activities-list__item" ([ngModel])="calendarActivities">
                  <h5>No activities</h5>
                </div>
                <div class="activities-list__item {{item.activity_type}}" *ngFor="let item of (calendarActivities | actions);">
                  <div class="activities-list__item-time">{{ getTime(item.activity_time)}}</div>
                  <div class="activities-list__item-icon">
                    <div class="icon-layout">
                      <i class="_icon-{{item.activity_type}}"></i>
                    </div>
                  </div>
                  <div class="activities-list__item-desc">{{ item.description }}</div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #editBlock>

  <div
      class="col-md-6 col-sm-12 col-lg-6 input-field-background activity-edit">
    <form #factivity="ngForm" (ngSubmit)="onSubmit(factivity.value, factivity.valid)">
      <input type="hidden" name="activity_date" id="activity_date" hidden
             [(ngModel)]="activity.activity_date"/>
      <div class="row align-items-center">
        <div class="col-6 align-middle">
          <h4 class="d-inline-block">Add activity</h4>
        </div>
        <div class="col-6">
          <div class="form-block pull-right">
            <button type="submit" class="btn btn-lg btn-primary text-uppercase">Save</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 align-content-center">
              <label for="hour">Hour</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary font-weight-bold" type="button"
                          (click)="activity.hour = changeCount(-1, 23, activity.hour);">-</button>
                </span>
                <input type="text" class="form-control"
                       id="hour" name="hour" [(ngModel)]="activity.hour"
                       [textMask]="{mask: hMask}"
                >
                <span class="input-group-btn">
                  <button class="btn btn-primary font-weight-bold" type="button"
                          (click)="activity.hour = changeCount(+1, 23, activity.hour);">+</button>
                </span>
              </div>
            </div>
            <div class="col-lg-12 col-sm-6 col-md-12 align-content-center">
              <label for="minute">Minute</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary font-weight-bold" type="button"
                          (click)="activity.minute = changeCount(-1, 59, activity.minute);">-</button>
                </span>
                <input type="text" class="form-control"
                       id="minute" name="minute" [(ngModel)]="activity.minute"
                       [textMask]="{mask: mMask}"
                >
                <span class="input-group-btn">
                  <button class="btn btn-primary font-weight-bold" type="button"
                          (click)="activity.minute = changeCount(+1, 59, activity.minute);"
                          >+</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="btn-group-justified btn-group activity text-center" data-toggle="buttons">
              <div class="label-placeholder"
                     *ngFor="let item of activityTypes;">
                <input type="radio" name="activity_type" value="{{ item }}" id="activity_type_{{item}}"
                       [(ngModel)]="activity.activity_type">
                <label class="icon-layout" for="activity_type_{{item}}">
                  <i class="_icon-{{item}}"></i>
                </label>
                <span class="type text-capitalize" style="font-size: 0.9rem;">{{ item }}</span>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input checked="checked" class="magic-radio" type="radio" name="repeat" id="inlineRadio1" value="not" [(ngModel)]="activity.repeat">
          <label for="inlineRadio1">
            Do not repeat
          </label>
        </div>
        <div class="col-sm-6">
          <input class="magic-radio" type="radio" name="repeat" id="inlineRadio2" value="day" [(ngModel)]="activity.repeat">
          <label for="inlineRadio2">
            Repeat every day
          </label>
        </div>
        <div class="col-sm-6">
          <input class="magic-radio" type="radio" name="repeat" id="inlineRadio3" value="week" [(ngModel)]="activity.repeat">
          <label for="inlineRadio3">
            Repeat every week
          </label>
        </div>
        <div class="col-sm-6">
          <input class="magic-radio" type="radio" name="repeat" id="inlineRadio4" value="month" [(ngModel)]="activity.repeat">
          <label for="inlineRadio4">
            Repeat every month
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="description" class="font-weight-bold">Activity description</label>
          <textarea id="description" placeholder="Enter activity descriprion text" name="description" [(ngModel)]="activity.description"></textarea>
        </div>
      </div>
    </form>
  </div>

</ng-template>
