<div class="container-fluid">
    <div class="section one" id="one">
        <div class="block">
        <div class="container">
            <div class="row align-items-top">
                <div class="col-lg-6 col-md-6 offset-lg-6 offset-md-6 col-sm-12 item text-center">
                    <h1>A Day Clock</h1>
                    <h2>
                        <span class="blue-color">Digital calendar clock</span>
                    </h2>
                    <div class="text">
                        Here is the place
                        <span class="blue-color">where the slogan goes </span>
                        a good one
                    </div>
                </div>
            </div>
            <div class="row align-items-bottom flex-sm-row-reverse flex-md-row flex-lg-row">
                <div class="col-lg-6 col-md-6 col-sm-12 item text-center">
                    <div class="img-block">
                        <img src="assets/img/o-clock.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 item text-center">
                    <div class="btn-block">
                        <div>
                            <a href="" class="btn btn-lg btn-primary text-uppercase">
                                <span>watch video</span>
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <a href="" class="btn-google">
                                <img src="assets/img/android-btn.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="section two slider" id="two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">The Best present Ever<br>
                        <span class="text-center blue-color">for mom and dad</span></h3>
                </div>
                <div class="col-12">
                    <div class="subtitle">A Day Clock is the app that will be very helpful for your family</div>
                </div>
                <div id="carouselExampleIndicators" class="col-lg-12 col-md-12 col-sm-12 carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-lg-4 col-md-4 block-text">
                                <div class="item"><span>Specially developed</span></div>
                                <div class="item"><span>Great looking in the morning</span></div>
                                <div class="item"><span>Bright and <br> high contrast</span></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-7 img-block">
                                <img class="d-block img-fluid" src="assets/img/slide.jpg" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 block-text">
                                <div class="item"><span>Very useful <br> and light</span></div>
                                <div class="item"><span>Customizeble in admin panel</span></div>
                                <div class="item"><span>Attractive and practical design</span></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-5 block-text _mobile">
                                <div class="item"><span>Specially developed</span></div>
                                <div class="item"><span>Great looking in the morning</span></div>
                                <div class="item"><span>Bright and <br> high contrast</span></div>
                                <div class="item"><span>Very useful <br> and light</span></div>
                                <div class="item"><span>Customizeble in admin panel</span></div>
                                <div class="item"><span>Attractive and practical design</span></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-4 col-md-4 block-text">
                                <div class="item"><span>Specially developed</span></div>
                                <div class="item"><span>Great looking in the morning</span></div>
                                <div class="item"><span>Bright and <br> high contrast</span></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-7 img-block">
                                <img class="d-block img-fluid" src="assets/img/slide.jpg" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 block-text">
                                <div class="item"><span>Very useful <br> and light</span></div>
                                <div class="item"><span>Customizeble in admin panel</span></div>
                                <div class="item"><span>Attractive and practical design</span></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-5 block-text _mobile">
                                <div class="item"><span>Specially developed</span></div>
                                <div class="item"><span>Great looking in the morning</span></div>
                                <div class="item"><span>Bright and <br> high contrast</span></div>
                                <div class="item"><span>Very useful <br> and light</span></div>
                                <div class="item"><span>Customizeble in admin panel</span></div>
                                <div class="item"><span>Attractive and practical design</span></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-4 col-md-4 block-text">
                                <div class="item"><span>Specially developed</span></div>
                                <div class="item"><span>Great looking in the morning</span></div>
                                <div class="item"><span>Bright and <br> high contrast</span></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-7 img-block">
                                <img class="d-block img-fluid" src="assets/img/slide.jpg" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 block-text">
                                <div class="item"><span>Very useful <br> and light</span></div>
                                <div class="item"><span>Customizeble in admin panel</span></div>
                                <div class="item"><span>Attractive and practical design</span></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-5 block-text _mobile">
                                <div class="item"><span>Specially developed</span></div>
                                <div class="item"><span>Great looking in the morning</span></div>
                                <div class="item"><span>Bright and <br> high contrast</span></div>
                                <div class="item"><span>Very useful <br> and light</span></div>
                                <div class="item"><span>Customizeble in admin panel</span></div>
                                <div class="item"><span>Attractive and practical design</span></div>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section three" id="three">
        <div class="skew-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <h3>There is a solution
                            <span class="blue-color">for you</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 description margin-left">
                        <span>
                            You can turn any tablet into a day clock with our inexpensive
                            download, day clocks (for Alzheimers) online are 50.00 plus dollars and this can be done for much less with us
                        </span>
                        <span>A Day Clock comes in handy for:</span>
                        <ul>
                            <li>People with short-term memory problems</li>
                            <li>People with circadian rhythm disorders</li>
                            <li>People who are confused, restless or insecure</li>
                        </ul>
                        <span>Other areas where A Day Clock can be of use:</span>
                        <ul>
                            <li>Children with ADHD or ADD</li>
                            <li>Mentally deficient</li>
                            <li>Aphasia or strokes</li>
                            <li>Autism</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="four"></div>
    <div class="section four">
        <div class="mask"></div>
        <div class="skew-two">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-md-9 col-sm-12 description text-center">
                        <h3>Choose your
                            <span class="blue-color">Membership</span>
                        </h3>
                        <h4>
                            <span>A Day Clock is available in many different versions, starting with the free model “Time”</span>
                        </h4>
                    </div>
                </div>
                <div class="row icon-block white">
                    <div class="col-lg-4 col-md-4 col-sm-12 item" *ngFor="let item of memberships">
                        <div class="icon">
                            <i class="fa {{ item.icon }}" aria-hidden="true"></i>
                        </div>
                        <div class="title">ADayClock</div>
                        <div class="title blue-color">{{ item.title }}</div>
                        <ul>
                          <li *ngFor="let string of item.description.split('\n')">{{ string }}</li>
                        </ul>
                      <!--<div class="text-block">{{ item.short_description }}</div>-->
                        <div class="btn-block">
                            <a class="btn btn-outline-primary text-uppercase" role="button"
                               (click)="membershipOnClick(item);">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section five" id="five">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h3>Contact</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-block">
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-12 form-group">
                                <input type="text" class="form-control" id="sender" required
                                       placeholder="Your name"
                                       [(ngModel)]="contact.sender" name="sender">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 form-group">
                                <input type="email" class="form-control" id="email" required
                                       placeholder="Email address"
                                       [(ngModel)]="contact.email" name="email">
                            </div>
                            <div class="col-lg-9 col-md-9 form-group">
                            <textarea class="form-control" id="message" required
                                      placeholder="Your message"
                                      [(ngModel)]="contact.message" name="message"></textarea>

                            </div>
                            <div class="col-lg-9 col-md-9 form-group">
                                <button type="submit" role="button"
                                        class="btn btn-primary text-uppercase font-weight-bold">Send message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 block-info">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 item">
                            <div class="title">
                                A day clock USA Schinkelse Baan 15
                            </div>
                            <div class="text">2908LE Capelle a/d Edwin Teeuwen
                            </div>
                            <div class="mail">
                                <a href="">eteeuwen@adayclock.com</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item">
                            <div class="title">
                                A day clock USA Schinkelse Baan 15
                            </div>
                            <div class="text">2908LE Capelle a/d Edwin Teeuwen
                            </div>
                            <div class="mail">
                                <a href="">eteeuwen@adayclock.com</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item">
                            <div class="title">
                                A day clock USA Schinkelse Baan 15
                            </div>
                            <div class="text">2908LE Capelle a/d Edwin Teeuwen
                            </div>
                            <div class="mail">
                                <a href="">eteeuwen@adayclock.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row text-uppercase text-center"><div class="col">&copy; 2017 A day clock</div>
            </div>
    </footer>
</div>
