<div class="container-fluid internal">
  <div class="content {{ state === 0 ? 'background' : ''}}">
    <div class="mask"></div>
    <footer class="bottom"><p class="text-uppercase text-center">&copy; A Day Clock</p></footer>
    <div class="row">
      <div class="col-12">
        <div class="container">

          <div class="row align-items-top" *ngIf="state === 0;">
            <div class="col col-sm-12 col-md-6 col-lg-6 text-center ">
              <div class="icon-large">
                <i class="fa {{ model.icon }}" aria-hidden="true"></i>
              </div>
              <h3 class="text-capitalize">{{ model.title }}</h3>
              <h4>{{ model.short_description }}</h4>
              <h3>${{ model.price }}</h3>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6">
              <h2 class="text-capitalize">{{ model.title }}</h2>
              <p>{{ model.description }}</p>
              <button class="btn btn-lg btn-primary text-uppercase" role="button" (click)="clickState()">Buy for ${{ model.price }}</button>
              <a href="" class="btn-google" role="button">
                <img src="assets/img/android-btn.png" alt="">
              </a>
            </div>
          </div>

          <div class="row align-items-top" *ngIf="state === 1;">
            <div class="col col-sm-12 col-md-6 col-lg-6 ">
              <h4>Membership information (step 1 of 2)</h4>
              <form #pform="ngForm" (ngSubmit)="onSubmit(pform.value, pform.valid)">
                <div class="row">
                  <div class="col-6 form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" required
                           [(ngModel)]="profile.firstName" name="firstName" minlength="4"
                           placeholder="Enter your first name"
                           #firstName="ngModel"
                    >
                    <small [hidden]="firstName.valid || (firstName.pristine && !pform.submitted)" class="text-danger">
                      First name requred
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="surName">Surname</label>
                    <input type="text" class="form-control" id="surName" required
                           [(ngModel)]="profile.surName" name="surName"
                           placeholder="Enter your surname"
                           #surName="ngModel"
                    >
                    <small [hidden]="surName.valid || (surName.pristine && !pform.submitted)" class="text-danger">
                      Surname requred
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="email_first">Email address</label>
                    <input type="email" class="form-control" id="email_first" required
                           [(ngModel)]="profile.email_first" name="email_first"
                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                           validateEqual="email_second" reverse="true"
                           placeholder="Enter your email address"
                           #email_first="ngModel"
                    >
                    <small [hidden]="email_first.valid || (email_first.pristine && !pform.submitted)" class="text-danger">
                      Not valid email
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="email_second">Repeat email address</label>
                    <input type="email_second" class="form-control" id="email_second" required
                           [(ngModel)]="profile.email_second" name="email_second"
                           validateEqual="email_first" reverse="false"
                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                           placeholder="Repeat your email address"
                           #email_second="ngModel"
                    >
                    <small [hidden]="email_second.valid || (email_second.pristine && !pform.submitted)" class="text-danger">
                      Email's not equal
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="password_first">Password</label>
                    <input type="password" class="form-control" id="password_first" required
                           [(ngModel)]="profile.password_first" name="password_first"
                           validateEqual="password_second" reverse="true"
                           placeholder="Enter your password"
                           #password_first="ngModel"
                    >
                    <small [hidden]="password_first.valid || (password_first.pristine && !pform.submitted)" class="text-danger">
                      Password requred
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="password_second">Repeat password</label>
                    <input type="password" class="form-control" id="password_second" required
                           [(ngModel)]="profile.password_second" name="password_second"
                           validateEqual="password_first" reverse="false"
                           placeholder="Repeat your password"
                           #password_second="ngModel"
                    >
                    <small [hidden]="password_second.valid || (password_second.pristine && !pform.submitted)" class="text-danger">
                      Password mismatch
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" required
                           [(ngModel)]="profile.address" name="address"
                           placeholder="Enter your full address"
                           #address="ngModel"
                    >
                    <small [hidden]="address.valid || (address.pristine && !pform.submitted)" class="text-danger">
                      Address requred
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="postalCode">Postal code</label>
                    <input type="text" class="form-control" id="postalCode" required
                           [(ngModel)]="profile.postalCode" name="postalCode"
                           placeholder="Enter your postal code"
                           #postalCode="ngModel" pattern="\d+"
                    >
                    <small [hidden]="postalCode.valid || (postalCode.pristine && !pform.submitted)" class="text-danger">
                      Not valid postal code
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" required
                           [(ngModel)]="profile.city" name="city"
                           placeholder="Enter your city"
                           #city="ngModel"
                    >
                    <small [hidden]="city.valid || (city.pristine && !pform.submitted)" class="text-danger">
                      City requred
                    </small>
                  </div>
                  <div class="col-6 form-group"></div>
                  <div class="col-6 form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" required
                           [(ngModel)]="profile.country" name="country"
                           placeholder="Enter your country"
                           #country="ngModel"
                    >
                    <small [hidden]="country.valid || (country.pristine && !pform.submitted)" class="text-danger">
                      Country requred
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" required
                           [(ngModel)]="profile.phone" name="phone"
                           placeholder="Enter your phone"
                           #phone="ngModel" [textMask]="{mask: phMask}"
                           pattern="^\+\d\(\d{3}\)\d{3}\-\d{2}\-\d{2}$"
                    >
                    <small [hidden]="phone.valid || (phone.pristine && !pform.submitted)" class="text-danger">
                      Not valid phone
                    </small>
                  </div>
                  <div class="col-6 form-group">
                    <button type="submit" class="btn btn-lg btn-primary text-uppercase">Next step</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 text-center">
              <div class="icon-large">
                <i class="fa {{ model.icon }}" aria-hidden="true"></i>
              </div>
              <h2 class="text-capitalize">{{ model.title }}</h2>
              <h4>{{ model.short_description }}</h4>
              <h2>${{ model.price }}</h2>
            </div>
          </div>

          <div class="row align-items-top" *ngIf="state === 2;">
            <div class="col col-sm-12 col-md-6 col-lg-6">
              <h4>Secure Checkout (step 2 of 2)</h4>
              <div class="row">
                <div class="col">
                  <h4 class="pull-left">Membership Information</h4>
                  <button class="btn btn-outline-primary pull-right" role="button" (click)="onEdit();">Edit</button>
                </div>
              </div>
              <p>{{ profile.firstName }} {{ profile.surName}}</p>
              <p>{{ profile.email}}</p>
              <p>{{ profile.address}}</p>
              <p>{{ profile.postalCode }}, {{ profile.city }}, {{ profile.country}}</p>
              <p>{{ profile.phone }}</p>
              <p>Please review all the information on this page and, i necesary,
                make changes before placing your order</p>
              <div class="form-check has-warning">
                <input type="checkbox" class="magic-checkbox" id="confirm" [(ngModel)]="profile.confirm">
                <label for="confirm">
                  I confirm that i have read and agree to the <a>Terms & conditions</a>
                  and I agree to the processing of my personal data for the purposes as out-lined
                  in the <a>Privacy policy</a>
                </label>
              </div>
              <button class="btn btn-lg btn-primary text-uppercase" role="button" (click)="onPlaceOrder();">Place order</button>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 text-center">
              <div class="icon-large">
                <i class="fa {{ model.icon }}" aria-hidden="true"></i>
              </div>
              <h2>{{ model.title }}</h2>
              <h4>{{ model.short_description }}</h4>
              <h2>${{ model.price }}</h2>
            </div>
          </div>

          <div class="row align-items-top" *ngIf="state === 3;">
            <div class="col text-center">
              <h2>Thank you for your order</h2>
              <h4>Your order number is</h4>
              <h4>You will recieve the order information and product key by your email</h4>
              <h4><a href="/">Back to the main page</a></h4>
              <h4><a href="/payment">Go to payment</a></h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
